<div data-controller="ping">

  <button data-action="click->ping#start" data-ping-target="startElement">Start Pinging!</button>

  <div data-ping-target="resultElement" style="font-size: 120px;"></div>

</div>
